{{> hello }}
<br>
{{> world }}
<br>

<h1>Users</h1>


{{~#if users}}
    <ul>
        {{#each users}}
            {{!> user user={name:"hello", email:"asdf"} }}
            {{> user}}
        {{/each}}
    </ul>
{{~^~}}
    Results: 0
{{/if}}
